VITE_SUPABASE_PROJECT_ID="ajaeneehxlnmnhjtvrgs"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqYWVuZWVoeGxubW5oanR2cmdzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1NTMyMDIsImV4cCI6MjEwMDEyOTIwMn0.88txEo8swR4bhvVBXAw5AgnEAtrZOZI4Jn1_zcxr7RY"
VITE_SUPABASE_URL="https://ajaeneehxlnmnhjtvrgs.supabase.co"
