VITE_SUPABASE_PROJECT_ID="zlfjxcwltqtajnczfjjp"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpsZmp4Y3dsdHF0YWpuY3pmampwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEyODUzNDUsImV4cCI6MjA2Njg2MTM0NX0.KnW8HvUSMpPFj2pAEbuLZvSsf808KYcqXbQ-p3S1sOY"
VITE_SUPABASE_URL="https://zlfjxcwltqtajnczfjjp.supabase.co"
